@model List<GarbageCollectionApp.Models.GarbageCollectionDTO>

<h2>Garbage Collection Records</h2>

<table>
    <tr>
        <th>Bin ID</th>
        <th>Collection Time</th>
        <th>Citizen Name</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.IdGarbageBin</td>
            <td>@c.CollectionTime</td>
            <td>@c.CitizenFirstName @c.CitizenLastName</td>
        </tr>
    }
</table>