@{
    ViewData["Title"] = "Admin Dashboard";
}
<h1>Admin Dashboard</h1>
<ul>
    <li><a href="/Admin/Citizens">Manage Citizens</a></li>
    <li><a href="/Admin/DisplayBins">Display Garbage Bins</a></li>
    <li><a href="/Admin/CitizenCollections">View Collections</a></li>
    <li><a href="/Admin/CollectionMap">View Collection Map</a></li>
</ul>
