@{
    ViewData["Title"] = "Admin Dashboard";
}
<h1>Admin Dashboard</h1>
<ul>
    <li><a href="/Admin/Citizens">Manage Citizens</a></li>
    <li><a href="/Admin/DisplayBins">Display Garbage Bins</a></li>
    <li><a href="/Admin/AssignBin?citizenId=1">Assign Bin -- work in progress</a></li>
    <li><a href="/Admin/CitizenCollections?citizenId=1">View Collections -- work in progress</a></li>
    <li><a href="/Admin/Alerts">View Alert Reports -- work in progress</a></li>
</ul>
