@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the garbage collection app of your city!</h1>
    <p>One man's garbage is another man's garbage! 👍</a>.</p>
    <p>Garbage - you create it, we collect it! 👍</p>
    <img src="~/images/happy-star-trash.jpg" alt="Trash can being happy" />
</div>
